
<div class="column">
    <h1><strong><u>Wisdom Avenue Quotes</u></strong> </h1>
    <hr>
    <div class="card" style="width: 30rem;">
        <ul>
            <div *ngFor='let quote of quotes;let i = index'>
                <div *ngIf="quote.upvote==highest; then highlight empty"></div>
                <ng-template #highlight>
                    <li *ngIf='quote.upvote==highest' appHighlight>
                    {{quote.quote}}
                    <br><span><i class='bx bxs-like bx-sm counter'(click)='upVote(i)'></i>{{quote.upvote}}</span> 
                    <br><span><i class='bx bxs-like bx-sm bx-flip-vertical counter'(click)='downVote(i)'></i>{{quote.downvote}}</span>
                </li>
                </ng-template>
                <li #empty>
                    {{quote.quote}}
                    <br><span><i class='bx bxs-like bx-sm counter'(click)='upVote(i)'></i>{{quote.upvote}}</span> 
                    <br><span><i class='bx bxs-like bx-sm bx-flip-vertical counter'(click)='downVote(i)'></i>{{quote.downvote}}</span>
                </li>
                <ng-template>

                </ng-template>
            
                <button class="btn btn-success" (click)='toggleDetails(i)'>Toggle Details</button>
                <app-quote-detail *ngIf='quote.showDescription' [quote]='quote' (isComplete) = 'deleteGoal($event,i)'></app-quote-detail>
            </div>       
        </ul>
        <p *ngIf='quotes.length > 5'>Your goals are too many</p>
      </div>
      <app-quote-form (addQuote)="addNewQuote($event)"></app-quote-form>
    
    </div>
    
