h2{
    font-size: 50px;
    margin-top: -600px;
}
.btn {
    font-size: 20px;
}
.container-fluid{
    max-width: 600px;
    margin-top: -20px;
    position: fixed;
    margin-left: 800px;
}
#quote{
    overflow: hidden;
}